body {
    font-family: 'Roboto', sans-serif;
}
.bg {
	background-color: #EEEEEE;
	border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    padding: 9px 25px;
    color: white;
    border: none;
    border-radius: 8px;
}
.container{
    margin-bottom: 150px;
}
.card-footer, .card{
    text-align: center;
    border: none;
}
.centeR{
    text-align: center;
}
.padding{
    padding-bottom: 100px;
}
.footer{
	background-color: #8b93a5;
	margin-bottom: 0px !important;
	border-radius: 40px;
}
.hero {
	float: left;
    padding: 25px 0px 10px 50px;
    font-size: 15px;
}
.Desine {
	float: right;
    padding: 25px 50px 10px 0px;
}
.Desine span{
    color: green;
    font-size: 15px;
}
